@media (max-width: 1400px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 10px;
  }

  form {
    width: 400px;
    background-color: #f4f6f8;
  }
  form h2 {
    text-align: center;
    margin-bottom: 1rem;
  }

  form input {
    width: 80%;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }

  form input:focus {
    outline: none;
    border: 2px solid var(--primary-color);
    transition: border-color 0.5s ease;
  }
  form input:hover {
    border: 2px solid var(--primary-color);
    transition: border-color 0.5s ease;
  }

  form button {
    width: 80%;
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
  form button:hover {
    background-color: var(--hover-sec-color);
  }
  
}
@media (max-width: 600px) {
  form input {
    width: 80%;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc
  }
  form input:focus {
    outline: none;
    border: 2px solid var(--primary-color);
    transition: border-color 0.5s ease;
  }
  form input:hover {
    border: 2px solid var(--primary-color);
    transition: border-color 0.5s ease;
  }

  form button {
    width: 80%;
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
  form button:hover {
    background-color: var(--hover-sec-color);
  }

}

