:root {
  --primary-color: #05182E;
  --secondary-color: #1E88E5;
  --accent-color: #F5A623;
  --text-color: #1C1C1C;
  --background-color: #fff;
  --hover-sec-color: #164FE0;
  --hover-accent-color: #F7B731;
  --active-class-color: #0D47A1;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: #fff;
  margin: 0;
  padding: 0 1rem;
  box-sizing: border-box;
}

ul {
  display: flex;
  gap: 1rem;
}
ul li {
  list-style-type: none;
}
ul li a {
  color: #fff;
  text-decoration: none;
  background-color: var(--secondary-color);
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

ul li a:hover {
  background-color: var(--hover-sec-color);
}

@media (max-width: 768px) {
  .header {
    width: 100%;
    display: block;
    padding: 0.5rem;
    box-sizing: border-box;
    text-align: center;
  }

  ul {
    display: flex;
    flex-direction: column;   /* stack vertically */
    align-items: center;      /* center horizontally */
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  ul li {
    list-style: none;
    width: 100%;
    text-align: center;       /* center text */
    margin-bottom: 0.2rem;
  }

  ul li a {
    display: block;
    width: 80%;               /* smaller than 100% so it can center */
    margin: 0 auto;           /* center the link */
    font-size: 15px;
    background-color: var(--secondary-color);
    padding: 0.3rem;
    text-decoration: none;
  }
}
